<form method="post" action="/api/secrets?code={{user.code}}">
	<div class="form-group">
    <label for="secret">Secret</label>
    <textarea class="form-control" id="secret" rows="3" name="secret" placeholder="Enter your secret"></textarea>
  </div>
	<div class="form-group">
    <label for="who-else-knows">Who else knows?</label>
    <select class="form-control" id="who-else-knows" name="whoElseKnows">
      <option value=""></option>
			{{#each users}}
				<option value="{{this.id}}">{{this.username}}</option>
			{{/each}}
    </select>
  </div>
	<button type="submit" class="btn btn-primary">Add Secret</button>
</form>
