<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">GS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    {{#if show.createAccount}}
      <a href="/create-account" class="btn btn-success">Create new account</a>
      <a href="/create-account" class="btn btn-info">Login</a>
    {{/if}}
    {{#if show.logout}}
      <button type="button" name="log-out" class="btn btn-danger" id="log-out">Log Out</button>
    {{/if}}
  </div>
</nav>
